
  {% block slider %}
<!-- main-slider -->
  <ul id="demo1">
    <li style="background-color:#000;">
      <img src="/static/build/images/1.jpeg" alt="" style="opacity:0.5;"/>
      <!--Slider Description example-->
      <div class="slide-desc">
      <h3>هونيغماير تقف على أفضل نوعية عسل طبيعي لمدة 100 سنة تقريبا!</h3>
      </div>
    </li>
    <li style="background-color:#000;">
      <img src="/static/build/images/2.jpg" alt="" style="opacity:0.5;"/>
        <div class="slide-desc">
        <h3>في هونيغماير ما يهم هو ليس الكمية، ولكن نوعية العسل</h3>
      </div>
    </li>

    <li>
      <img src="/static/build/images/22.jpg" alt="" />
      <div class="slide-desc">
        <h3>أحد العوامل الأساسية لوعي الجودة في هونيغماير هو الاتصال الشخصي لمربي النحل العالميين</h3>
      </div>
    </li>
  </ul>
{% endblock slider %}
  {% block javascripts %}
  <!-- //main-slider -->

{% endblock javascripts %}
